.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px; 
}

#movie-section{
    margin: 20px auto; 
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#movie-section p {
    display: inline-block;
    margin: 0 50px; 
}
#movie-section button {
    margin: 0; 
}

.movie-div {
    margin: 10px; 

}